<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Provinces</title>
</head>
<body>
<a href="/provinces/create">Create new province</a>
<div id="notify"></div>
<h1>Provinces</h1>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="province : ${provinces}">
        <tr>
            <td th:text="${province.name}"></td>
            <td><a th:href="@{/provinces/edit/__${province.id}__ }">Edit</a></td>
            <td>
                <input hidden id="idProvince" th:value="${province.id}">
                <a class="deleteClass" onclick="deleteProvince()" href="javascript:;">Delete</a></td>
        </tr>
    </th:block>
</table>
<p>
    <a href="/customers">Customer list</a>
</p>
</body>
</html>
<script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script type="text/javascript">
    function deleteProvince(){
        let idClass = $('#idProvince').val();
        let a = $(event.target).closest("tr");
        a.remove();
        $.ajax({
            type:"DELETE",
            url:"/api/provinces/"+ idClass,
        });
        event.defaultPrevented;
    }
</script>