<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer manager</title>
</head>
<body>
<a href="/customers/create">Create new customer</a>
<h1>Customers</h1>
<form>
    Search by first name:
    <input name="s" type="text" th:value="${s}"/>
    <input type="submit" value="Search"/>
</form><br/>
<table border="1">
    <tr>
        <th>Image</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Province</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>

    <th:block th:each="customer : ${customers}">
        <tr>
            <td><img th:src="@{'/i/'+ ${customer.getImage()}}" width="100"/></td>
            <td th:text="${customer.firstName}"></td>
            <td th:text="${customer.lastName}"></td>
            <td><a th:href="@{/provinces/view/__${customer.province.id}__}" th:text="${customer.province.name}"></a></td>
            <td><a th:href="@{/customers/edit/__${customer.id}__}">Edit</a></td>
            <td><a th:href="@{/customers/delete/__${customer.id}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>
<div>
    <a th:href="@{'/customers'(page=${customers.number - 1} ,s=${s})}" th:if="${customers.hasPrevious()}">Previous</a>
    <span th:text="${customers.number + 1}"></span>/<span th:text="${customers.totalPages}"></span>
    <a th:href="@{'/customers'(page=${customers.number + 1}, s=${s})}" th:if="${customers.hasNext()}">Next</a>
</div>
</body>
</html>